body {
  background-color: #fefefe
  color: #101010;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1 {
  color: #d35656;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 12px;
}

h3 {
  color: #f66767;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

p {
  color: #101010;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a:link {
  text-decoration: none;
  color: #101010;
}

a:visited {
  text-decoration: none;
  color: #3c3d47;
}

a:hover {
  text-decoration: none;
  color: #d35656;
}

ul {
  list-style-type: none;
  margin: 8px;
  padding-left: 0;
}

ul li{
  display: inline;
  padding: 24px;
  font-size: 32px;
}

.container {
  width: 700px;
  margin: 40px auto;
  text-align: center;
}

.card {
  background-color: white;
  padding: 16px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

.card-id {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

.btn {
  background-color: #d35656; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 24px;
}

.btn:hover {
  background-color: #c14f4f;
}

.img-circle {
  border-radius: 50%;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
